a.classyLink {
	color: #000099;
	font-weight: bold;
}

body {
	background-image: url(../imgs/ar_background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.bold {
	font-weight: bold;
}

.employee-listing p {
	text-align: center;
}

.employee-listing h4 {
	text-align: center;
	margin-bottom: 5px;
}

.img-employee {
	height: 200px;
	width: 150px;
}

.no-margins {
	margin: 0px;
}

.no-padding {
	padding: 0px,0px,0px,0px;
}

#banner {
	margin-top: 20px;
}

#tabNavigation li a.tab-bold {
	font-weight: bold;
}